*~    # emacs buffer
*.swp # vim buffer

# some people really do this
*.orig
*.bak
*.old

# from `bundle gem'
*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp

# YARD generated documentation
.yardoc
doc/

# http://c9.io web-based editor craps on your directory
.c9revisions/
